.main_div{
    display: block;
    width: 1600px;
    height: 1000px;
    background-color: #ffa252;
    padding-top: 120px;

}
.main_body{
    display: block;
    width:1000px;
    height: 550px;
    margin-left: 300px;
   
    background-color: white;
}

.pic{
    display: block;
    height: 550px;
    width: 500px;
    background-color: azure;
    float: left;
    
}

.dis_img img{
    display: block;
    width: 500px;
    height: 550px;
   /* background-size: cover;
    background: no-repeat;
*/}
.content{
    display:block;
    height: 550px;
    width: 500px;
    background-color: white;
    float: left;
    padding-top: 90px;
}

fieldset{
    width: 300px;
    margin-left: 90px;
}