
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Player-League Service</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Player League Project</title>
</head>
<body>
<div class="container">

	<h3>Player League Project</h3>
	<hr>
	<fieldset>
	<legend><h2>Lets's Start</h2></legend>
	<!-- Add a button -->
	<a th:href="@{/player/view}"
		class="btn btn-success btn-sm mb-3">
		View Players
	</a>
	<a th:href="@{/player/adding}"
		class="btn btn-success btn-sm mb-3">
		Add Player
	</a>
</body>
</html>
