.main {
    background-color: lightpink;
    height: 1700px;
    width: 1040px;
    margin-left: 260 px;
}

.header {
    background-color: antiquewhite;
    height: 100px;
    width: 1040px;
    display: block;
}

.content {
    background-color: lightskyblue;
    height: 1500px;
    width: 1040px;
    display: block;
}

.footer {
    background-color: peachpuff;
    height: 100px;
    width: 1040px;
    display: block;
}

.h0 {
    display: block;
    height: 77px;
    width: 100px;
    background-color: #fafafb;
    float: left;
    padding-top: 10px;
    padding-bottom: 30px;
}

.h0 img {
    display: block;
    height: 60px;
    width: 80px;
    margin-left: 20px;
    float: left;
}

.h1 {
    display: block;
    height: 77px;
    width: 600px;
    background-color: black;
    float: left;
    font-size: 50px;
    font-weight: bold;
    padding-left: 10px;
}