<div class="main">
    <div class="header">
        <div class="h0">
            <img src="../favicon.ico">
        </div>
        <div class="h1">
            <h1>Shop Your Style</h1>
        </div>
        <div class="h2">
            Know your style<a routerLink='../login' class="btn btn-primary">Log In</a><a routerLink='../register' class="btn btn-primary">Sign up</a>
        </div>
        <div class="content">

        </div>
        <div class="footer">
            <h4>@Copyright Shop Your Style 2019</h4>
        </div>
    </div>
</div>