<p>modify Projects!</p>
<fieldset>
    <legend>Modify Projects</legend>
    <form #modifyProjects="ngForm" (submit)="ModProjects()">
        <label>Name :</label>
        <input type='text' placeholder="Enter projects name" name="name" [(ngModel)]="uDatas.name" />
        <br>
        <br>
        <label>Info :</label>
        <input type='text' placeholder="Enter projects info" name="info" [(ngModel)]="uDatas.info" />
        <br>
        <br>
        <label>company :</label>
        <input type='text' placeholder="Enter company name" name="cname" [(ngModel)]="uDatas.cname" />
        <br><br>
        <input type="submit" value="Modify">
    </form>
</fieldset>