<p>list of users!</p>
<div>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{qParams.name}}</td>
                <td>{{qParams.email}}</td>
                <td>{{qParams.cname}}</td>
                <td><input type="button" name="Modify" value="Modify" (click)='modifyUser()'></td>
            </tr>
        </tbody>
    </table>
</div>