<div class="main_div">
    <div class="header">
        <div class="h0">
            <img src="../favicon.ico" />
        </div>
        <div class="h1">
            Fitness Tracker
        </div>
        <div class="h">

        </div>
    </div>
    <div class="header1">

    </div>
    <div class="content">
        <div class="c_head">
            <h1>Your Profile, Kinjal Jain</h1>
        </div>

        <div class="c_body">
            <table class=" ro">
                <tr>
                    <td>First Name </td>
                    &nbsp;
                    <td>Kinjal</td>
                </tr>

                <tr>
                    <td>Last Name </td> &nbsp;
                    <td>Jain</td>
                </tr>

                <tr>
                    <td>Gender </td> &nbsp;
                    <td>Female</td>
                </tr>

                <tr>
                    <td>Age </td> &nbsp;
                    <td>22</td>
                </tr>

                <tr>
                    <td>Height </td> &nbsp;
                    <td>161 cm</td>
                </tr>

                <tr>
                    <td>Weight </td> &nbsp;
                    <td>56 kg</td>
                </tr>


                <tr>
                    <td>Category </td> &nbsp;
                    <td>Normal</td>
                </tr>

                <tr>
                    <td>BMI </td> &nbsp;
                    <td>18</td>
                </tr>

                <tr>
                    <td>Email </td> &nbsp;
                    <td>kinjal@g.com</td>
                </tr>


                <tr>
                    <td> </td> &nbsp;
                    <td><a href="" class="btn btn-default">SAVE</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <h4>@Copyright Fitness Tracker 2019</h4>
    </div>
</div>