<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employee Details</title>                 
</head>
<body>
<div class="container">
<h1>Welcome to the Employee portal</h1>

<h2>Spring Secured App</h2>
<p>app content ......... at uri <span th:text="${uri}"/></p>
<p>User: <span th:text="${user}"/></p>
<p>Roles: <span th:text="${roles}"/></p>
<br/>


<fieldset>
	<legend><h2>Employee Section</h2></legend>
	<!-- Add a button -->
	<a th:href="@{/view}"
		class="btn btn-primary btn-lg mb-3">
		View Employee
	</a>
	</fieldset>
	<fieldset>
	<legend><h2>Admin Section</h2></legend>
	<!-- Add a button -->
	<a href="/admin/view"
		class="btn btn-success btn-lg mb-3">
		View Employee
	</a>
	</fieldset>
	
	<form action="@${pageContext.request.contextPath}/logout" method="POST">
	<input type="submit" class="btn btn-primary btn-lg mb-3" value="Logout">
	</form>
	
	</a>
</body>
</html>